.p0{padding:0px;
padding-top: 5px;
}
.p5{padding-left:5px;padding-right:5px;}
.homeTabs{margin-top:65px}
.resForm {margin-top: 140px;}
.nav-pills li {margin-left: 2px;width: 32.7%;}
.nav-tabs {border-bottom: 0px solid #e7e7e7;}
.nav-pills>li:last-child, .nav-pills>li:last-child a {margin-right: 0px;}
.nav-tabs>li>a {text-align: center;}
#room, #adult,#child{padding: 0;}
.rooms{border: 1px solid #DCE4EC;margin: 35px 5px;padding-top: 15px;height: 250px;}
.guestInfo{border: 1px solid #DCE4EC;margin: 10px 5px;}
.paymentInfo{border: 1px solid #DCE4EC;margin: 10px 5px;}
.card-front, .card-back {width: 100%;min-height: 306px;border-radius: 15px;border: 2px solid #ced6df;background: #fafbfb;float: left;
    margin-top: -7px;
    margin-bottom: 10px;
    margin-left: 5px;

}

.card-back-line {
    margin-top: 4px;
    margin-bottom: 14px;
    text-align: right;
    position: relative;
}

.findReservation{margin-left: 42%;margin-top: 2%;}
@media (max-width: 1200px) {
    .findReservation {
        margin-left: 30%;
        margin-top: 2%;
    }
}
@media(min-width:767px){
    .findReservation {
        margin-left: 42%;
        margin-top: 2%;
    }
}


.card-back-line label {margin-right: 10px;}
.card-back-line p {padding: 3px 10px;}
.card-front p.mc-visa {margin: 10px 10px 0;text-align: right;}
.cc-pan input{padding:0px;padding-left:5px;}
.roomPanel{display:none;}
.guestPanel{display:none;}
.paymentInfo{display:none;}
.nav-wizard > li {float: left;width: 33.333333%;padding-left: 20px;}
.nav-wizard {margin-top: 0px;}
.top-wizard {width: 100%; background: #fff;position: fixed;z-index: 999;margin-top: 65px;left: 0;right: 0;padding: 10px 10px 0 10px;}
.nav-wizard > li > a {position: relative;background-color: #eeeeee;}
.nav-wizard > li:not(:first-child) > a {padding-left: 28px;}
.nav-wizard > li.active > a, .nav-wizard > li.active > a:hover, .nav-wizard > li.active > a:focus {color: #ffffff;background-color: #428bca;padding: 9px 15px;height: 40px;}
.nav-wizard > li:not(:last-child) > a {margin-right: 6px;}
.nav-wizard > li:not(:last-child) > a:after {width: 0px;height: 0px;border-top: 20px inset transparent;border-bottom: 20px inset transparent;border-left: 20px solid #eeeeee;position: absolute;content: "";top: 0;right: -20px;z-index: 2;}
.nav-wizard > li:not(:first-child) > a:before {width: 0px;height: 0px;border-top: 20px inset transparent;border-bottom: 20px inset transparent;border-left: 20px solid #ffffff;position: absolute;content: "";top: 0;left: 0;}
.nav-wizard > li.active > a:after {border-left-color: #428bca;}
.selectBtn {background-color: #4caf50;font-size: 15px;width: 100%;}
.roomType {position: absolute;margin-top: -26px;background: #fff;width: auto;padding: 0 3px;margin-left: 10px;}
.oldPice {}
.oldPice strong{position: absolute;margin-top: -32px;background: #fff;padding: 0 3px;font-size: 16px;right: 10px;}
.selectBtn{float: right;margin-right: 5px;}
.disselectBtn{float: right;margin-right: 5px;}
.childAges{display:inline-block}
.clbl {display: none;}
.cage {width: 40px !important;margin-right: 5px;}
.arabtn{font-weight: bolder}
@media(min-width:953px){
.completeBtn{float: right;margin-right: 5px;}
}
@media(max-width:952px){
.arabtn{width: 100%;font-weight: bolder}
.completeBtn{width: 100%;margin-bottom:10px}
.mobileHide{display:none;}
.row.cc-pan .col-xs-3 {padding-right: 5px;}
.navbar-brand {font-size: 20px;}
.nav-wizard > li {padding: 0 !important;}
.nav>li>a {padding: 10px 5px;}
}.navbar-brand {padding: 0px; }
.navbar-text {margin-top: 0px;margin-bottom: 0px;}
.topNavTabs {
    float: right;
}



.pullRight{
    float: right !important;
}
.pullLeft{
    float: left !important;
}

.mainRoomHolder {
    position: relative;
    top: -45px;
}
.mainRoomHolder span {
    float: left;
    padding-right: 20px;
}
.mainRoomHolder span:last-child {
    float: right !important;
    padding: 0;
}
.rowRoom {
    border: solid 1px #eee;
    min-height: 50px;
    line-height: 50px;
    margin-bottom: 5px;
}
.rowRoom .roomSelectButton {
    padding: 8px;
    margin-top: -3px;
    box-shadow: none;
}
p.nightsPeopleCSS {
    margin-top: 15px !important;
    background-color: #fff;
    padding: 2px 5px;
}
.holderBoarder {
    min-height: 169px;
    border: solid 1px #eee;
    margin-top: 50px;
    padding: 15px 0;
}

.new123 {
    margin-top: -30px;
}
.placeHolders .rowRoom:last-child {
    margin: 0;
}
.placeHolders {
    margin-top: -20px;
}

.flags {
    border-radius: 20%;
    width: 20px;
    height: 20px;
}


.diselectBtn {background-color: #E51C23;font-size: 15px;width: 100%;}

.roomTypeCSS{
    font-weight: bolder;

}
@media (max-width: 767px) {

    .peoplesLable{
        display: none;
    }
    .birthday{
        display: none;
    }
    .pushMargin {
        font-size: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        padding-top: 0px;
    }

    .holderBoarder{
        min-height: 169px;
        border: solid 1px #eee;
        margin-top: 50px;
        padding: 15px 0;
    }
    .mainRoomHolder span:last-child {
        float: right !important;
        padding: 0;
    }
    .tooltip {
        text-align: center;
    }

    .boardType {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .rateType {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .roomTypeCSS .tooltip-inner {
        max-width: 200px;
        min-width: 160px;

    }
    .selectBtn {background-color: #4caf50;font-size: 10px;width: 100%; padding-top: 5px}
    .selectBtn{float: right; margin-right: 5px;padding-top: 12px}
    .disselectBtn{float: right; margin-right: 5px;padding-top: 12px}
    .diselectBtn {background-color: #E51C23;font-size: 10px; width: 100%; padding-top: 5px; }

    .rowRoom .roomSelectButton {
        padding: 8px;
        margin-top: -2px;
        box-shadow: none;
        font-size: 14px;
    }

    .mainRoomHolder .roomPicture{
        display: none;
    }

    .imgInSmallScreen{
        margin-left: 30px;
    }
    .checkboxCustom {
        margin-left: 5px;
        margin-right: 5px;
    }
    .pushUp {
        margin-bottom: 10px;
        margin-top: 14px;
    }

}

.tooltip {
    text-align:right;
}
.pushMargin {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.warningButton {
    float: right;
    margin-right: 25px;
    margin-top: 11px;
}
.warningButtonRTL {
    float: left;
    margin-right: 33px;
    margin-top: 11px;
    padding-right: 32px;
    text-align: center;
}

.warningButton{width: 100%;margin-bottom:0px}


.warningButtonOverRide {
    float: right;
    margin-right: 25px;
    margin-top: 1px;
    width:97px;
}

.nav-tabs.pushDown.topNavTabs {
    padding-top: 20px;
}

.pushUp{
    margin-bottom: 10px;
}

.checkboxCustom{
    margin-left: 5px;
    margin-right: 5px;
}

.checkBoxDiv {
    width: 50%;
    margin: 0 auto;
    margin-left: 37%;
}
.checkBoxDiv p {
    margin-top: 20px;
    display: -webkit-inline-box;
}

.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


#paymentIframe {

    display: none;
    margin: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
}
#fullHTML{

}

.textLabels {
    font-weight: bolder;
    font-size: 15px;
}

.textHeaders{
    font-size: 19px;
    font-weight: bold;
}
#morePeople{
    margin-top: 15px;
}

.tableCustom {
    border-color: #ffffff!important;
    border-collapse: inherit;
}

.tableCustom {
    width: 100%;
    max-width: 100%;
    margin-bottom: 23px;
}
.tableCustom {
    background-color: transparent;
}

.tableCustom {
    /* border-collapse: collapse; */
    border-spacing: 0;
}


.tableCustom>thead>tr>th, .tableCustom>tbody>tr>th, .tableCustom>tfoot>tr>th, .tableCustom>thead>tr>td, .tableCustom>tbody>tr>td, .tableCustom>tfoot>tr>td {
    padding: 8px;
    line-height: 1.846;
    vertical-align: top;
}

.blur{
    filter: blur(5px);
}

.floatingPayment {
    display: none;
    background: #ffffff;
    z-index: 9999999999;
    position: fixed;
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
    min-height: 400px;
    margin-top: 100px;
    box-shadow: 0px 0px 25px -1px #ccc;
}

.acceptPayment{
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
.messagePayment {
    text-align: center;
}

@media (max-width: 767px) {
    .nightsPeopleCSS{
        display: none;
    }
    .row.pushDown{
        margin-top: 30px;
    }
    .checkBoxDiv {
        width: 50%;
        margin: 0 auto;
        margin-left: 25%;
    }
    .checkBoxDiv p {
        margin-top: 20px;
        /*display: -webkit-inline-box;*/
    }
    .floatingPayment {

        display: none;
        background: #ffffff;
        z-index: 9999999999;
        position: fixed;
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
        height: 500px;
        margin-top: 70px;
        box-shadow: 0px 0px 25px -1px #ccc;
        padding: 7%;
    }
    .innerContainerFloat {
        padding: 1%;
        max-height: 460px;
        overflow-y: scroll;
        overflow: auto;
    }

}

.ccCredit {
    margin-left: -30px;

}

.ccCreditPushDown{
    margin-top: 23px;
}

.ccCCV{
    margin-left: 9px;
}

.roomTypeName {
    background-color: #fff;
    padding: 2px 5px;
    margin-top: 10px !important;
    font-size: 17px;
    font-weight: bolder;
}

.roomImages{
    width: 100px;
    height: 90px;
}


.findMyRes {
    padding-left: 25%;
    padding-top: 8%;
}

@media (max-width: 767px) {
    .findMyRes {
        padding-left: 19%;
        padding-top: 16%;
    }
}

@media (max-width: 767px) {
    .findMyRes {
        padding-left: 0%;
        padding-top: 14%;
    }
}
.findReservationButton{font-weight: bolder;margin-top: 12px;font-weight: bolder;}

.creditCardText {
    margin-top: 2px;
    margin-left: 24px;
}

.closeFloatButton {
    float: right;
    position: absolute;
    /* height: 18px; */
    top: -13px;
    right: -14px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    font-weight: bold;
}

.showReservButton {
    margin-left: 42px;
    margin-top: 25px;
}

.pushAside{
    margin-left: 35px;
}
/*.form-control[disabled] {*/
      /*background-color: #E81716 !important;*/
     /*opacity: 1;*/
 /*}*/

.turkishFlag{
    margin-left:48%
}

.germanFlag{
    margin-left: 46%;
}

.arabicFlag{
    margin-left:52%
}

.langaugeCSS{
    margin-left: 8px;
}

@media (max-width: 767px) {
    .turkishFlag{
        margin-left: 50%
    }

    .germanFlag{
        margin-left: 49%;
    }

    .arabicFlag{
        margin-left: 51.5%
    }

}

.errorMessageRoomsNotAva {
    padding-top: 5%;
    padding-left: 37%;
    font-size: 22px;
    font-weight: bolder;
}


.pointerCurser{
    cursor: pointer;
}

.currencyIMGs {
    width: 18px;
    height: 18px;
    margin-left: 58%;
}


.paymentInfoBolder {
    font-weight: bold;
    text-align: left;
    margin-left: 81px;
}


.paymentRequestBolder {
    text-align: center;
    margin-left: 25px;
}

.pushPayment{
    margin-left: 50px;
}
@media (max-width: 1206px) {
    .pushPayment{
        margin-left: 25px;
    }
}

@media (max-width: 980px) {
    .pushPayment{
        margin-left: 15px;
    }
}

@media (max-width: 767px) {
    .errorMessageRoomsNotAva {
        padding-top: 16%;
        padding-left: 15%;
        font-weight: bolder;
    }
    .paymentInfoBolder{
        font-weight: bold;
        text-align: left;
        margin-left: 5px;
    }
    .pushPayment{
        margin-left: 10px;
    }
}

@media (max-width: 400px) {
    .pushPayment{
        margin-left: 0px;
    }
}

.savedReservation{
    padding: 33px;
}

.SavedReservationButton {
    font-weight: bolder;
    margin-top: 12px;
    margin-left: 72px;
}
@media (max-width: 767px) {
    .SavedReservationButton {
        font-weight: bolder;
        margin-top: 12px;
        margin-left: 0px;
    }
}

.pushDownCCpicker {
    margin-top: 31px;
}

.radioButtonsForPayment {
    margin: 9%;
}

.innerContainerFloatAgreement{
    padding: 6%;
    max-height: 90%;
    overflow-y: scroll;
    overflow: auto;
}

.floatingAgreement {
    display: none;
    background: #ffffff;
    z-index: 9999999999;
    position: fixed;
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
    height: 70%;
    margin-top: 100px;
    box-shadow: 0px 0px 25px -1px #ccc;
}

@media (max-width: 767px) {

    .floatingAgreement {

        display: none;
        background: #ffffff;
        z-index: 9999999999;
        position: fixed;
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
        height: 70%;
        margin-top: 70px;
        box-shadow: 0px 0px 25px -1px #ccc;
        padding: 7%;
    }
    .innerContainerFloatAgreement {
        padding: 1%;
        max-height: 100%;
        overflow-y: scroll;
        overflow: auto;
    }
}
.wireTransfer{
    margin-top: 23px;
}


.glow {
    -moz-box-shadow: 0px 0px 10px Green;
    -webkit-box-shadow: 0px 0px 10px Green;
    box-shadow: 0px 0px 10px Green;
}
.fixedWhatsapp{
    bottom: 0;
    z-index: 99999999;
    position: fixed;
}

.CALLMEButton{
    bottom: 0;
    margin-left: 50px;
    margin-bottom: 3px;
    z-index: 99999999;
    position: fixed;
}

.panel-primary{
    margin-bottom: 50px;
}

#fullHTML{
    margin-bottom: 50px;
}

.btnsForSer{

    text-transform: uppercase;
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.servDescription{
    margin-left: 14px;
    margin-right: 10%;
}
.thisSer{
    margin-left: 5px;
    margin-right: 5px;
}
.totalPriceLabels{
    font-size: 16px;
    font-weight: bold;

}

.fixedCallme{
    margin-left: 90px;
    margin-bottom: 3px;
    bottom: 0;
    z-index: 99999999;
    position: fixed;
}
