.p0{padding:0px;}
.p5{padding-left:5px;padding-right:5px;}
.homeTabs{margin-top:65px}
.resForm {margin-top: 140px;}
.nav-pills li {margin-left: 2px;}
.nav-tabs {border-bottom: 0px solid #e7e7e7;}
.nav-pills>li:last-child, .nav-pills>li:last-child a {margin-right: 0px;}
.nav-tabs>li>a {text-align: center;}
#room, #adult,#child{padding: 0;}
.rooms{border: 1px solid #DCE4EC;margin: 10px -5px;padding:10px 0px ;}
.guestInfo{margin: 10px -5px;
    background-color: #d0d0d0 !important;
    border-color: #d0d0d0 !important;
    border-radius: 10px;
}
.paymentInfo{border: 1px solid #DCE4EC;margin: 10px 5px;}
.card-front, .card-back {width: 100%;min-height: 280px;border-radius: 15px;border: 2px solid #ced6df;background: #fafbfb;float: left;margin: 5px 0;}
.card-back-line {margin-top: 50px;text-align: right;position: relative;}
.card-back-line label {margin-right: 10px;}
.card-back-line p {padding: 3px 10px;}
.card-front p.mc-visa {margin: 10px 10px 0;text-align: right;}
.cc-pan input{padding:0px;padding-left:5px;}
.roomPanel{display:none;}
.guestPanel{display:none;}
.paymentInfo{display:none;}
.nav-wizard > li {float: left;width: 33.333333%;padding-left: 20px;}
.nav-wizard {margin-top: 0px;}
.top-wizard {width: 100%; background: #fff;position: fixed;z-index: 999;margin-top: 65px;left: 0;right: 0;padding: 10px 10px 0 10px;}
.nav-wizard > li > a {position: relative;background-color: #eeeeee;}
.nav-wizard > li:not(:first-child) > a {padding-left: 28px;}
.nav-wizard > li.active > a, .nav-wizard > li.active > a:hover, .nav-wizard > li.active > a:focus {color: #ffffff;background-color: #428bca;padding: 9px 15px;height: 40px;}
.nav-wizard > li:not(:last-child) > a {margin-right: 6px;}
.nav-wizard > li:not(:last-child) > a:after {width: 0px;height: 0px;border-top: 20px inset transparent;border-bottom: 20px inset transparent;border-left: 20px solid #eeeeee;position: absolute;content: "";top: 0;right: -20px;z-index: 2;}
.nav-wizard > li:not(:first-child) > a:before {width: 0px;height: 0px;border-top: 20px inset transparent;border-bottom: 20px inset transparent;border-left: 20px solid #ffffff;position: absolute;content: "";top: 0;left: 0;}
.nav-wizard > li.active > a:after {border-left-color: #428bca;}
.selectBtn {background-color: #4caf50;padding: 14px 5px;font-size: 15px;}
.roomType {position: absolute;margin-top: -26px;background: #fff;width: auto;padding: 0 3px;margin-left: 10px;}
.oldPice {}
.oldPice del{position: absolute;margin-top: -32px;background: #fff;padding: 0 3px;font-size: 16px;right: 10px;}
.selectBtn{margin-top:-10px;float: right;margin-right: 5px;}
.childAges{display:inline-block}
.clbl {display: none;}
.cage {width: 40px !important;margin-right: 5px;}
@media(min-width:953px){
.completeBtn{float: right;margin-right: 5px;}
.flags {margin-top: 15px;}
}
@media(max-width:952px){
.arabtn{width: 100%;}
.completeBtn{width: 100%;margin-bottom:10px}
.mobileHide{display:none;}
.row.cc-pan .col-xs-3 {padding-right: 5px;}
.navbar-brand {font-size: 20px;}
.nav-wizard > li {padding: 0 !important;}
.nav>li>a {padding: 10px 5px;}
}
.topSpacer{margin-top:30px;}
.topSpacer1 {
    margin-top: 70px;
}
.hotelSearch{color:#000;width:100%;padding-left: 10px !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #2196f3;
    background-color: transparent;
}
.navbar-nav {
    margin: 0px 0px;
}

.flags {
    border-radius: 30%;
    width: 32px;
    height: 32px;
    margin-left: 10px;
}
.selectLanguage>li {
    float: left;margin-bottom: 10px;
}
.hotelLink{text-transform:capitalize;color: #545353;font-weight: normal;}
[lang=tr]{text-transform:capitalize;}
.hotelLink .col-md-2{font-size:11px !important}
.panel-heading {
    padding: 1px 1px;
}
.hotelSearch {
    height: 40px;border-radius: 10px !important;
}
.rooms:hover {
    background: #ebebeb;
}
img.hotelimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.hotelname {
    font-size: 16px;line-height: 18px;margin-top: 13px;

}
.rooms {
    border-bottom: 1px solid #fff;
    margin: 0px -5px;
    padding: 3px 0px;
    border-left: 0;
    border-right: 0;
}
.linkArrow{position: absolute;
    right: 0;
    font-size: 30px;
    margin-top: 14px;
    color: #cbd0c6;}