<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="tr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Online Rezervasyon</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" id="changestyle" href="css/bootstrap.min7.css" media="screen">
<link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/listcustom.css">
</head>
<body>

   <div class="container  panel-primary " id="rooms" ng-app="myApp" ng-controller="hotelCtrl"> 
   
   <div class="guestInfo panel-heading">
                  
				  
					<input type="text" ng-model="hotelSearch" class="hotelSearch" ng-attr-placeholder="{{searchtext}}">
					

                </div>


		<div class="row rooms">
				<div class="col-md-1 col-xs-2 p0" title="Order by Hotel Name"><strong><a class="nameorder fa fa-bed fa-2x" href="#" id="NAME"> <i ng-class="{'fa fa-caret-up': order=='NAME'}"></i></a></strong></div>
                <div class="col-md-11 col-xs-10 P0" title="Order by City Name"><strong><a class="nameorder fa fa-map-signs fa-2x" href="#" id="CITY"> <i ng-class="{'fa fa-caret-up': order=='CITY'}"></i></a></strong></div>
		</div>


		<div class="row rooms" data-ng-repeat="x in hotels | orderBy:order | filter:hotelSearch:startsWith">
<a class="col-xs-12 hotelLink p0" href="/index.html?id=12{{x.ID}}12">

				<div id="hotelimg" class="col-md-1 col-xs-2 p0"><img src={{x.IMAGESMALLURL}} class="hotelimg"></div>
				<div class="col-md-11 col-xs-10 P0"><div class="hotelname"><strong>{{x.NAME}}</strong></div>{{x.CITY}}</div>
				<div class="linkArrow"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
</a>
		</div>
		
	</div>
    
    
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/moment-with-locales.js"></script>
<script src="js/bootstrap-datetimepicker.js"></script>
<script src="js/bootstrap-number-input.js" ></script>
<script src="js/angular.min.js"></script>
<script src="js/listcustom.js" ></script>
</body>
</html>